<!-- @{ 
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>-->

        <form>
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <div class="modal-body">
            <div class="col">
            <h2 class="modal-title"><b>Login</b></h2>
            <br/>
            <label for="exampleInputEmail1">Endereço de E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o endereço de E-mail">
            <small id="emailHelp" class="form-text text-muted">Digite o seu endereço de E-mail</small>
            </div>
        </div>
        <div class="modal-body">
            <div class="col">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            <small id="emailHelp" class="form-text text-muted">A senha deve conter de 8 a 20 caracteres</small>
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Entrar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" asp-controller="Registro" asp-action="Index">Registre-se</button>
        </div>
        </div>
        </div>
        </div>
        </form>
       

